# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# VS Code
.vscode/

# Raw datasets
data/raw/*
!data/raw/.gitkeep

# OS files
.DS_Store
Thumbs.db